
.editIt-prompt h2, .editIt-prompt h3{
  margin-top: 0;
  font-weight: 100;
}

.grid {
  position: relative;
  margin: auto;
  border-collapse: collapse;
  border: 1px dotted #FFFFFF;
  width: 300px;
  height: 100px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  font-size: 1px;
  line-height: 15px;
}

.grid td {
  width: 10%;
  border: 1px dotted #FFFFFF;
}

.grid td.sel {
  background-color: #b9daff;
  border: 1px dotted #FFFFFF;
}

#rowCol {
  font-size: 18px;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 20px 10px;
}
